<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Azizbek Siddikov - Portfolio</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="portfolio-container">
      <!-- Left Navigation Menu -->
      <nav class="left-menu">
        <div class="menu-items">
          <a href="#home" data-section="home" class="menu-item active">Home</a>
          <a href="#experience" data-section="experience" class="menu-item"
            >Experience</a
          >
          <a href="#projects" data-section="projects" class="menu-item"
            >Projects</a
          >
          <a href="#contacts" data-section="contacts" class="menu-item"
            >Contacts</a
          >
        </div>
      </nav>

      <!-- Main Content Area -->
      <main class="main-content">
        <!-- Home Section -->
        <section id="home" class="section active">
          <div class="home-content">
            <div class="home-left">
              <h1>AI and Data Engineer</h1>
              <h2>Azizbek Siddikov</h2>
              <div class="about-section">
                <p>
                  I am an AI and Data Engineer with expertise in computer
                  vision, data processing, and team leadership. I am passionate
                  about solving complex problems using Python and building
                  data-driven solutions that make a difference.
                </p>
              </div>
              <div class="home-buttons">
                <a href="#contacts" class="contact-btn">Contact Me</a>
                <a href="/Resume.pdf" download class="download-resume-btn"
                  >Download Resume</a
                >
              </div>
            </div>
            <div class="home-right">
              <img src="images/my_photo.jpeg" alt="Azizbek Siddikov" />
            </div>
          </div>
        </section>

        <!-- Work Experience Section -->
        <section id="experience" class="section">
          <div class="work-content">
            <h2>Work Experience</h2>
            <div class="experience-card">
              <img
                src="images/sistech.jpeg"
                alt="SISTECH CO., LTD. Logo"
                class="company-logo"
              />
              <h3>SISTECH CO., LTD. - JUNIOR DATA ANALYST</h3>
              <h4>Seoul | March 2023 - August 2024</h4>
              <ul>
                <li>
                  Utilized Python for data manipulation and YOLOv8 modeling to
                  detect road anomalies for autonomous inspection systems.
                </li>
                <li>
                  Trained on a custom-labeled dataset of 120,000+ images,
                  achieving high accuracy and scalability in road anomaly
                  detection.
                </li>
                <li>
                  Led a team of three data labelers, enhancing productivity and
                  ensuring annotation accuracy.
                </li>
                <li>
                  Managed extensive datasets and delivered key insights and
                  progress reports.
                </li>
              </ul>
            </div>
          </div>
        </section>

        <!-- Projects Section -->
        <section id="projects" class="section project-container">
          <h2>Projects</h2>
          <div class="project-slider work--lockup">
            <ul class="slider"></ul>
            <div class="slider--prev">
              <!-- SVG for previous arrow -->
              <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 150 118"
                xml:space="preserve"
              >
                <g transform="translate(0,118) scale(0.1,-0.1)">
                  <path
                    d="M561,1169C525,1155,10,640,3,612c-3-13,1-36,8-52c8-15,134-145,281-289C527,41,562,10,590,10c22,0,41,9,61,29
                    c55,55,49,64-163,278L296,510h575c564,0,576,0,597,20c46,43,37,109-18,137c-19,10-159,13-590,13l-565,1l182,180
                    c101,99,187,188,193,199c16,30,12,57-12,84C631,1174,595,1183,561,1169z"
                  />
                </g>
              </svg>
            </div>
            <div class="slider--next">
              <!-- SVG for next arrow -->
              <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 150 118"
                xml:space="preserve"
              >
                <g transform="translate(0,118) scale(0.1,-0.1)">
                  <path
                    d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"
                  />
                </g>
              </svg>
            </div>
          </div>
        </section>

        <!-- Contacts Section -->
        <section id="contacts" class="section">
          <div class="contacts-content">
            <!-- Social Links -->
            <div class="social-links">
              <a
                href="https://github.com/azizbeksiddikov"
                class="social-icon"
                target="_blank"
              >
                <img
                  class="icon_image"
                  src="/images/github-01-solid-standard.svg"
                  alt="GitHub"
                />
              </a>
              <a
                href="https://www.linkedin.com/in/azzd/"
                class="social-icon"
                target="_blank"
              >
                <img
                  class="icon_image"
                  src="/images/linkedin-01-solid-rounded.svg"
                  alt="LinkedIn"
                />
              </a>
              <a href="mailto:azbeksid@gmail.com" class="social-icon">
                <img
                  class="icon_image"
                  src="/images/mail-01-stroke-rounded.svg"
                  alt="Email"
                />
              </a>
            </div>

            <form id="contact-form" class="contact-form">
              <input type="text" name="name" placeholder="Your Name" required />
              <input
                type="email"
                name="email"
                placeholder="Your Email"
                required
              />
              <textarea
                name="message"
                placeholder="Your Message"
                required
              ></textarea>
              <button type="submit">Send Message</button>
            </form>
          </div>
        </section>
      </main>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      const projects = <%- JSON.stringify(projects) %>;
    </script>
    <script src="/js/main.js"></script>
  </body>
</html>
